{% extends 'base.html' %} {% block content %}
<p>{{ movies|length }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.year }}
        <span class="float-right">
            <a class="Douban" href="https://www.douban.com/search?q={{ movie.title }}" target="_blank"
                title="Find this movie on Douban">Douban</a>
        </span>
    </li>
    {% endfor %}
</ul>
<img src="{{ url_for('static', filename='images/avatar.jpg') }}" class="totoro" alt="Avatar">
{% endblock %}