<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}'s Watchlist</title>
</head>
<body>
    <h2>{{ name }}'s Watchlist</h2>
    <p>{{ movies|length }} Titles</p>
    <ul>
        {% for movie in movies %}
        <li>{{ movie.title }} - {{ movie.year }}</li>
        {% endfor %}
    </ul>
    <footer>
        <small>&copy; 2022 <a href="#">Zero</a></small>
    </footer>
</body>
</html>